.slist-btn-container {
    text-align: right;
}

.slist-inline {
    display: inline-block;
}

.navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.img-artist-profile {
    height: 100px;
    width: 100px;
}

.table-artists {
    max-height: 450px;
    overflow: scroll;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px;
}

.shortlist {
    margin-top: 30px;
}

.btn-clear-shortlist {
    margin-bottom: 20px;
}